body{
    background-color:rgb(238, 71, 99);
}
.sub1{
    text-align: center;
   
    background-color: aliceblue;
    width: 20%;
  
    margin-left: 38%;
    margin-top: 10%;
    border-radius: 20PX;
    padding: 3% 0;
  
    
}
.sub1 input{
    margin-bottom: 90px;
    border-radius: 8PX;
    padding: 3% 0;
}
.sub1 ::placeholder{
    text-align: center;
}